body {
    font-family: LibreFranklin;
    animation: fadeIn 1.5s;  
  }

  @font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-Thin.ttf) format('truetype');
}

  @font-face {
    font-family: 'LibreFranklinBold';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf) format('truetype');
}



  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  
  .logo {
    width: 500px;
    height: 175px;
    margin-bottom: 30px;
    transition: box-shadow 1s ease;
  }

  h4 {
    background-color: rgb(10,177,240);
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.661);
    transition: background-color 1s ease, text-shadow 1s ease;
    border-radius: 3px;
  }

  h4:hover {
    background-color: rgb(139,196,66);
    text-shadow: 5px 3px 3px rgb(0, 0, 0);
  }

  .logo-container {
    text-align: center;
  }

  p {
    font-family: LibreFranklinBold;
  }


  
.buy-button {
  border: 2.5px solid rgb(139,196,66);
  background-color:rgb(10,177,240);
  font-size: 16px;
  font-family: LibreFranklinBold;
  animation: fadeIn 3s;
  max-width: fit-content;
  border-radius: 5px;
  transition: border 1s ease, color 1s ease, background-color 2s ease, text-shadow 1s ease;
  box-shadow: 1px 5px 5px rgba(1, 2, 2, 0.486);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.661);
}


.buy-button:hover {
  border: 2.5px solid rgb(10,177,240);
  background-color: rgb(139,196,66);
  text-shadow: 5px 3px 3px rgb(0, 0, 0);
  transition: 1s;
}

.buy-button a:hover {
  color: rgb(255, 253, 253);
}

.buy-button a:active {
  color: rgb(102, 171, 250);
}
.carpage {
  display: flex; 
  align-items: flex-start; 
  gap: 20px;
  margin-left: 50px; 
}

#car-info {
  flex: 2; 
  max-width: 60%; 
}

.calculator {
  flex: 1; 
  max-width: 40%; 
  padding: 20px; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#car-info img {
  max-width: 100%; 
  height: auto; 
  margin-bottom: 15px; 
}

#car-info h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #333
}

#car-info p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}
.btn-primary {
  border: 2.5px solid rgb(139,196,66);
  background-color:rgb(10,177,240);
  font-size: 16px;
  font-family: LibreFranklinBold;
  animation: fadeIn 3s;
  max-width: fit-content;
  border-radius: 5px;
  transition: border 1s ease, color 1s ease, background-color 2s ease, text-shadow 1s ease;
  box-shadow: 1px 5px 5px rgba(1, 2, 2, 0.486);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.661);
}
.btn-primary:hover{
  border: 2.5px solid rgb(10,177,240);
  background-color: rgb(139,196,66);
  text-shadow: 5px 3px 3px rgb(0, 0, 0);
  transition: 1s;
}
.car-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.navbar{
  background-color:  rgb(10,177,240);
  transition: background-color 2s ease;
}
.navbar:hover{
  background-color: rgb(139,196,66);
  text-shadow: 5px 3px 3px rgb(0, 0, 0);
}
.navbar a,
.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}






















  
  