body {
    font-family: LibreFranklin;
    margin: 50px;
    animation: fadeIn 1.5s;
   
  }

  @font-face {
    font-family: 'LibreFranklin';
    src: url(fonts/LibreFranklin-Thin.ttf) format('truetype');
}

  @font-face {
    font-family: 'LibreFranklinBold';
    src: url(fonts/LibreFranklin-VariableFont_wght.ttf) format('truetype');
}



  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  
  .logo {
    width: 125px;
    height: 60px;
    margin-bottom: 7px;
  }

  p {
    font-family: LibreFranklinBold;
  }


  
.buy-button {
  border: 0.5px solid rgba(15, 1, 1, 0.438);
  background-color: rgb(10,177,240);
  font-weight: 200;
  font-size: 16px;
  font-family: LibreFranklinBold;
  animation: fadeIn 3s;
  max-width: fit-content;
  border-radius: 5px;
  transition: background-color 1s ease, color 0.5s ease;
  box-shadow: 1px 5px 5px rgba(27, 27, 27, 0.521);
}

.buy-button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.buy-button:hover {
  background-color: rgb(139,196,66);
  transition: color 0.5s ease;
}

.buy-button:hover a {
  color: rgb(247, 247, 247);
}


.buy-button a:hover {
  color: rgb(255, 253, 253);
}

.buy-button a:active {
  color: rgb(102, 171, 250);
}

nav {
  font-size: 24px;
}

.nav-item {
  margin-right: 25px;
}

.footer-text {
  font-size: 14px;
  font-style: italic;

}












  
  